html, body {
  background: #282c34;
  padding: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ccc;
}
.App-link:visited, .App-link:active {
  color: #ccc;
  text-decoration: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paypal-buttons {
  margin-top: 20px;
  width:50%;
}

.currencySection input {
  margin-left: 5px;
}

.currencySection button {
  margin-left: 8px;
}

.appSwitch {
  color: cadetblue;
  font-weight: bold;
  margin: 40px;
}

.appSwitch:visited, .appSwitch:active {
  color: cadetblue;
}
